
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .post{
        margin: 5em auto;
        max-width: 800px;
        border: 1px solid @header-font-color;
        padding: 2em; 
        flex-direction: column;
        justify-content: center;
        h4{font-size: 1.2rem}
        img{
            border-radius: 10px;
            width: 100%;
        }
        .entry{
            padding: 2em;
            p{padding: 1em 0;}
        }
    }
}



@media @phone{
    .blog{
      max-width: @phone;
      margin: 5% auto;
      .post{
        width: 95%;
        margin-top: 15%;
        img {
          width: 100%;
          overflow: hidden;  
        }
      }
    }
}